body {
  box-sizing: border-box;
  background-color: aqua;
}

.container {
  margin: 0 auto;
  border-radius: 20px;
  background-color: white;
  width: 500px;
  height: 1000px;
  border: none;
}

.btn {
  border-radius: 5px;
  border: none;
  background-color: skyblue;
  padding: 10px 30px;
}

.btn:hover {
  background-color: blueviolet;
}
